Flask==3.0.2
Flask-Cors==4.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
supabase==1.0.3
python-dateutil==2.8.2
httpx==0.23.3
postgrest==0.10.6
pytz==2025.2
python-jose[cryptography]==3.3.0
requests==2.31.0
gotrue>=1.0.1,<2.0.0 